body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

header {
    margin: 20px 0;
}

.bird-grid {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.bird-card {
    background-color: #d3e7f0;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.bird-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.modal img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
