body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-placeholder {
    width: 45%;
    height: auto;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder img {
    width: 100%;
    height: auto;
}

.content {
    width: 50%;
    padding-left: 20px;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    text-align: justify;
    line-height: 1.8;
}